@inherits LayoutComponentBase
<div class="background">
    <header>
        <NavMenu />
    </header>
    <main>
        <article>
            @Body
        </article>
    </main>
    <Footer />
</div>
