.wrapper {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 2%;
width: 100%;
height: 60px;
border-bottom: 1px solid rgba(177, 177, 177, 0.397);
/* background-color: #0002; */
}

ul {
display: flex;
list-style: none;
}

nav > a {
margin-left: 10px;
color: #fff;
text-decoration: none;
}

nav > a:hover{
    color:rgba(255, 255, 255, 0.601);
}

.brand {
font-size: 30px;
text-transform: uppercase;
color: #fff;
font-weight: 800;
}
